*{
    margin: 0;
    padding: 0;
    
    
}
body{
    font-family: "Open-Sans", sans-serif;
    background: rgba(156, 131, 95, 1);
}
/* background */
#rock-paper-scissors{
    min-height: 100vh;
}
.game-content{
    margin-bottom: 150px;
}

/* typografi */
h1.back-icon{
    font-size: 72px;
    font-weight: 700;
    color: rgba(114, 76, 33, 1);
}

h1.player .computer{
    font-size: 36px;
    color: rgba(0, 0, 0, 1);
}

p.title{
    font-size: 36px;
    font-weight: 700;
    color: rgba(249, 178, 61, 1);
}


/* button */
button{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 223px;
    height: 204px;
}

button:hover {
    background-color: rgb(140, 124, 124);
    border-radius: 30px;
}

button img{
    width: 128px;
}

#refresh{
    width: 77px;
    cursor: pointer;
    bottom: -550px;
    margin-right: 50%;
    /* transform: translateX(-50%); */
}
/* result */
div.text-result{
    width: 271.11px;
    height: 166.93px;
    margin: 3rem 0;

}
.outcome{
    font-size: 144px;
    font-weight: 700;
    color: rgba(189, 0, 0, 1);
}
/* js result */
.active{
    background-color:rgba(196, 196, 196, 1);
    border-radius: 20px;
}
.game-result {
    color: white !important;
    font-size: 38px ; 
    letter-spacing: 4px;
    border-radius: 10px;
}

#result.active{
    transform: rotate(-28.87deg);
    justify-content: center;
    /* align-items: center; */
    text-align: center;

}
.game-result-win {
    background-color: rgba(76, 150, 84, 1);
}
.game-result-draw {
    background: rgb(54, 110, 60);
}
